# package installation
- name: add EPEL
  shell: creates=/etc/yum.repos.d/epel.repo rpm -Uvh --replacepkgs http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm

# pythonがバージョンアップされているため、yumで使用するpythonを明示する
# - name: set ansible_python_interpreter
#   set_fact: ansible_python_interpreter="/usr/bin/python2.6"

# リリース後は手動でupdateしていくためコメントアウト
- name: yum update
  yum: name=* state=latest

- name: install basic packages
  yum: name={{ item }} state=installed
  with_items:
    - git
    - curl
    - wget
    - libselinux-python
    - ruby-devel
    - readline-devel
    - ncurses-devel
    - gdbm-devel
    - openssl-devel
    - libxslt-devel
    - sqlite-devel
    - mysql-devel
    - libyaml
    - libyaml-devel
    - tcl-devel
    - db4-devel
    - libffi-devel
    - gcc
    - libxml2
    - libxml2-devel
    - libxslt
    - libxslt-devel

- name: install Development Tool
  sudo: true
  shell: yum -y groupinstall "Development Tools"

# timezone
- name: set timezone
  file: src=/usr/share/zoneinfo/Asia/Tokyo dest=/etc/localtime state=link force=yes

# hostname
- name: set hostname
  hostname: name={{ hostname }}
- name: set /etc/hosts
  lineinfile: dest=/etc/hosts regexp=^127\.0\.0\.1 line='127.0.0.1 {{ hostname }} localhost localhost.localdomain'
