<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Training</h4>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to t('helpers.link.show'), @training, class: "btn btn-default" %>
<%= link_to t('helpers.link.back'), trainings_path, class: "btn btn-default" %>
