こんにちは。いつもMy-opeをご利用いただきありがとうございます。

さて、フリープランの終了日が1週間後に迫ってまいりましたのでご連絡差し上げました。
期間が終了すると、管理機能はご利用いただけますが、
チャット画面は中止状態へと変わり質問を受け付けられなくなりますのでご注意下さい。

プランのアップグレードをご希望の場合は以下のメールアドレスまでご連絡下さい。
support@mof-mof.co.jp