<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Message</h4>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to t('helpers.link.back'), messages_path, class: "btn btn-default" %>
