default: &default
  datasource_type: database
  database:
    endpoint: mysql://root@localhost/donusagi_bot?charset=utf8
    host: localhost
    name: donusagi_bot
    user: root
    password: ""
    pool: 5
    pool_name: myope_learning # 固定で良い
    retry_interval: 500 # msec
    max_retry: 5
  # dicdir: /usr/lib/mecab/dic/mecab-ipadic-neologd
  dicdir: /usr/local/lib/mecab/dic/ipadic
  # dicdir: /var/lib/mecab/dic/debian # for docker

development:
  <<: *default

test:
  <<: *default
  datasource_type: file
  database:
    endpoint: mysql://root@localhost/donusagi_bot_test?charset=utf8
    host: localhost
    name: donusagi_bot_test
    user: root
    password: ""
  dicdir: /var/lib/mecab/dic/ipadic-utf8

production:
  <<: *default
  database:
    endpoint:
    host:
    name:
    user:
    password:
    pool:
    pool_name:
    retry_interval:
    max_retry:
