@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Animate-fadeInOut {
  animation-duration: 2s;
  animation-name: fadeInOut;
  animation-iteration-count: infinite;
}

@keyframes scaleUp {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.scaleUp {
  animation: scaleUp 0.5s linear;
}