@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Animate-fadeInOut {
  animation-duration: 2s;
  animation-name: fadeInOut;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Animate-fadeIn {
  animation-duration: 0.5s;
  animation-name: fadeIn;
}

@keyframes scaleUp {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.scaleUp {
  animation: scaleUp 0.5s linear;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infiniteSpinning {
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: infinite-spinning;
}