.chat-decision-branches {
  &__container {
    margin: 0 auto;
    max-width: 414px;
  }

  &__title {
    padding: 0 0 8px;
    font-size: 10px;
    color: $gray-light;
  }

  &__items {
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba($black, .03);
  }

  &__item {
    display: block;
    border-top: 1px solid $gray-lighter;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: $blue;
    word-break: break-all;

    &:first-of-type {
      border-radius: 3px 3px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 3px 3px;
      border-bottom: 1px solid $gray-lighter;
    }

    &:hover {
      background-color: lighten($gray-lighter, 5%);
      text-decoration: none;
    }
  }
}
