---
- stat: path=/usr/local/pyenv
  register: pyenv_dir

- name: git clone pyenv
  git: repo=https://github.com/pyenv/pyenv.git dest=/usr/local/pyenv accept_hostkey=yes
  when: not pyenv_dir.stat.exists

- name: install python-build
  shell: cd /usr/local/pyenv/plugins/python-build && ./install.sh

- name: check /etc/profile.d/pyenv.sh is exists
  stat: path=/etc/profile.d/pyenv.sh
  register: pyenv_sh

- name: add /etc/profile.d/pyenv.sh
  shell: |
    echo 'export PYENV_ROOT="/usr/local/pyenv"' >> /etc/profile.d/pyenv.sh
    echo 'export PATH="/usr/local/pyenv/bin:$PATH"' >> /etc/profile.d/pyenv.sh
    echo 'eval "$(pyenv init -)"' >> /etc/profile.d/pyenv.sh
  when: not pyenv_sh.stat.exists

- name: check if target python is installed
  shell: cd; bash -lc "pyenv versions | grep {{ python_version }} | tr '*' ' ' | sed -e 's/\s\+//' | cut -f1 -d' '"
  register: python_is_installed

- name: install global python
  shell: bash -lc "pyenv install {{ python_version }}"
  when: python_is_installed.stdout != python_version

- name: set global python version
  shell: bash -lc "pyenv global {{ python_version }} && pyenv rehash"

- name: use custom sudoers
  copy: src=sudoers dest=/etc/sudoers.d/pyenv backup=yes owner=root group=root mode=0440
