<%= bootstrap_form_tag url: bot_imports_path(@bot), method: :post, data: { event_name: 'Import learning data' } do |f| %>
  <%#= render "shared/errors", object: @bot %>
  <p>
    このインポート機能は、対話データを一括で追加登録する機能です。<br />
    以前に登録してあるデータと完全一致する質問は更新されます。<br />
    完全一致しない場合でも以前のデータが削除されることはありません。
  </p>

  <%= f.file_field :file, label: 'ファイル' %>

  <div class="actions">
    <%= f.submit 'Shift_JISでインポート', class: 'btn btn-success' %>
    <%= f.submit 'UTF-8でインポート', class: 'btn btn-success' %>
    <p class="help-block">※Excelで作成したCSVのエンコードはShift_JISです</p>
  </div>
<% end %>
