<div class="panel panel-default">
  <div class="panel-heading">
    <h4>インポート</h4>
  </div>

  <div class="panel-body">
    <%= render 'form' %>

    <% if @error_row.present? %>
      <p class="text-danger"><%= @error_row %>行目でエラーが発生しました</p>
    <% end %>
  </div>
</div>
