- bot = message.parent.bot
.chat-row
  .chat-message
    .chat-message__icon
      = image_tag message.parent.bot.image_url || 'operator', class: 'listen'
    .chat-message__balloon
      = auto_link(simple_format(message.body), html: { target: '_blank' })
    - unless local_assigns[:is_first_message]
      .chat-message__rating
        .chat-message__rating-title この返答を評価してください
        span(
          data-component="MessageRatingButtons"
          data-rating=message.rating
          data-token=local_assigns[:token]
          data-message-id=local_assigns[:message_id]
        )

- if message.answer.try(:decision_branches).try(:present?)
  = render layout: 'chats/decision_branches', locals: { title: '回答を選択してください' } do
    - message.answer.decision_branches.each do |decision_branch|
      = link_to choices_chats_path(bot.token, decision_branch),
        data: { method: :post,
          remote: true,
          role: 'chat-decision-branch',
          event_name: 'Select decision branch',
          bot_id: @bot.id,
          bot_name: @bot.name,
          chat_id: @chat.id,
          decision_branch_id: decision_branch.id,
          message_id: message.id }, class: 'chat-decision-branches__item' do
        = decision_branch.body

- if message.similar_question_answers.present?
  = render layout: 'chats/decision_branches', locals: { title: 'こちらの質問ではないですか？' } do
    - message.similar_question_answers.each do |question_answer|
      = link_to chats_messages_path(bot.token, 'message[body]' => question_answer.question),
        class: 'chat-decision-branches__item',
        data: { method: :post,
          remote: true,
          role: 'chat-decision-branch',
          event_name: 'Select suggested question',
          bot_id: @bot.id,
          bot_name: @bot.name,
          chat_id: @chat.id,
          question_answer_id: question_answer.id } do
        = question_answer.question
