<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-9 balloon-1-right balloon">
    <%= auto_link(simple_format(message.body), html: { target: '_blank' }) %>
  </div>
  <div class="col-sm-2 col-xs-3 text-center">
    あなた<br />
    <%= image_tag 'silhouette.png', class: 'listen' %>
  </div>
</div>
