<div class="row">
  <div class="col-sm-8 col-sm-offset-2 balloon-1-right">
    <%= simple_format message.body %>
  </div>
  <div class="col-sm-2 text-center">
    あなた<br />
    <%= image_tag 'silhouette.png', class: 'listen' %>
  </div>
</div>
