.row
  .col-md-8.col-md-offset-2.col-sm-10.col-offset-1
    h1 サポートフォーム
    br/
    
    .info-support-form 
      .well.well-sm
        p
          |  
            My-ope officeご利用にあたってお気づきの点や不具合、<br>
            及び機能要望などお気軽にお問い合わせください。
    
    = bootstrap_form_for(:ticket, url: contacts_path, method: "post" ) do |f|
      = f.email_field :email, hide_label: true, placeholder: "メールアドレス      *記載されたメールアドレス宛に返信致します。"
      = f.text_field :subject, hide_label: true, placeholder: "件名"
      = f.text_area :description, rows: 10, hide_label: true, placeholder: "お問い合わせ内容"
      = f.submit "送信する", class: "btn btn-primary"
