<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Bot管理</h4>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to t('helpers.link.back'), bots_path, class: "btn btn-default", data: { event_name: 'Back to bots index', bot_id: @bot.id, bot_name: @bot.name } %>
