<% content_for :additional_container_main_class, "no-padding-left" %>

<% if policy(:bot).index? %>
  <div class="container">
  <h1>Bot一覧</h1>

  <div class="row">
    <% @bots.each do |bot| %>
      <div class="col-sm-6 col-md-4" id="bot-<%= bot.id %>">
        <div class="thumbnail">
          <%= image_tag bot.image_url(:thumb) %>
          <div class="caption">
            <h4><%= bot.name %></h4>
            <!-- <p>...</p> -->
            <%= link_to '詳細', edit_bot_path(bot), class: 'btn btn-primary btn-block', data: { event_name: 'Select Bot', bot_id: bot.id, bot_name: bot.name } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
