<!DOCTYPE html>
<html>
<head>
  <title>My-ope office - 社内問い合わせ専用AIチャットボット</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container container-main">
    <%= yield %>
  </div>
</body>
</html>
