.material-icons {
  vertical-align: middle;

  &.mi-v-baseline {
    vertical-align: baseline;
  }
  &.mi-v-top {
    vertical-align: top;
  }
}

small {
  .material-icons {
    font-size: 18px;
  }
}

.btn-xs {
  .material-icons {
    font-size: 14px;
    vertical-align: text-bottom;
  }
}
