- content_for :hide_global_header, true
- content_for :without_app_css, true
- content_for :only_bootstrap_css, true
= javascript_pack_tag 'chat'
= stylesheet_pack_tag 'chat'

css:
  html, body {
    height: 100%;
  }

#Chat(
  data-bot-token=@bot.token
  data-bot=DeepCamelizeKeys.deep_camelize_keys(PublicBotSerializer.new(@bot).as_json).to_json
  data-guest-key=guest_key
  data-is-staff=(!!current_user&.staff?).to_json
  data-is-owner=(!!current_user&.has_membership_of?(@bot)).to_json
  data-guest-id=current_guest_user&.id.to_json
  data-bot-server-host=ENV['BOT_SERVER_HOST']
)