%base-chat-container {
  @include pie-clearfix;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 720px;

  @media (max-width: $screen-xxs-max) {
    padding-right: 10px;
    padding-left: 7px;
  }
}

.chat-container {
  @extend %base-chat-container;

  &--no-padding {
    @extend %base-chat-container;
    padding: 0;
  }
}
