.chat-form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  border-top: 1px solid darken($gray-lighter, 10%);
  height: 58px;
  background-color: $white;

  @media (max-width: $screen-xxs-max) {
    padding-right: 10px;
    padding-left: 7px;
  }

  form {
    position: relative;
  }

  &__text-field {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 88px 10px 10px;
    border: 1px solid darken($gray-lighter, 10%);
    border-radius: 3px;
    height: 38px;

    &:focus {
      border: 1px solid $blue;
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;
    border: 0;
    background-color: $blue-green;
    color: $white;
    height: 38px;
    width: 78px;
    vertical-align: top;

    &:hover {
      background-color: darken($blue-green, 5%);
    }

    @media (max-width: $screen-xs-max) {
      width: 38px;
    }
  }
}
