%base-chat-message {
  @include pie-clearfix;
  position: relative;
  float: left;
  width: 50%;

  @media (max-width: $screen-xxs-max) {
    width: 100%;
  }
}

.chat-message {
  @extend %base-chat-message;
  $-arrow-size: 6px;
  $-icon-size: 32px;
  $-balloon-spacing: 16px;

  &--my {
    @extend %base-chat-message;
    float: right;

    .chat-message__icon {
      left: auto;
      right: 0;
    }

    .chat-message__balloon {
      margin-left: 0;
      margin-right: $-icon-size + $-balloon-spacing;
      background-color: $blue;
      color: $white;
      word-break: break-all;

      &::before {
        right: auto;
        left: 100%;
        border-right: 0;
        border-left: $-arrow-size solid $blue;
      }

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: $-icon-size;
    height: $-icon-size;
    border-radius: 50%;
    border: 1px solid $gray;
    overflow: hidden;
    background: {
      position: center center;
      size: cover;
      repeat: no-repeat;
    }
  }

  &__balloon {
    position: relative;
    margin-left: $-icon-size + $-balloon-spacing;
    padding: 10px;
    background-color: $gray-lighter;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    word-wrap: break-word;

    &::before {
      position: absolute;
      top: 8px;
      right: 100%;
      content: "";
      width: 0;
      height: 0;
      border-right: $-arrow-size solid $gray-lighter;
      border-top: $-arrow-size solid transparent;
      border-bottom: $-arrow-size solid transparent;
    }

    p {
      margin-bottom: 1em;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__rating {
    text-align: right;

    &-title {
      display: inline-block;
      padding: 0 10px 0 0;
      font-size: 11px;
      color: lighten($gray, 10%);
    }

    &-button {
      padding: 0 10px 0 0;
      font-size: 20px;
      color: darken($gray-lighter, 10%);

      &:last-child {
        padding: 0;
      }

      &:hover {
        color: darken($gray-lighter, 20%);
      }

      &:focus {
        color: darken($gray-lighter, 10%);
      }

      .fa {
        transition-duration: .1s;
        transition-property: all;
      }

      &:active {
        .fa {
          transform: scale(1.25);
        }
      }

      &.good.active {
        color: $brand-success;
      }

      &.bad.active {
        color: $brand-danger;
      }
    }
  }
}
