/*
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";
// @import 'jquery-ui/core.css';
// @import 'jquery-ui/theme.css';
// @import 'jquery-ui/autocomplete.css';

body {
  //min-height: 2000px;
  // padding-top: 51px;
  padding-bottom: 250px;
}

.container-main {
  position: relative;
  margin-top: 20px;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
}

.listen {
  width: 100%;
  max-width: 100px;
}

.col-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.balloon {
  padding-left: 40px;
}

.comment-area {
  position: fixed !important;
  bottom: 0;
  left: 0;
  background-color: #fa522d;
  opacity: 0.8;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.context {
  position: fixed;
  top: 8px;
  padding: 5px;
  border-radius: 5px;
  z-index: 9999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

// .alert-main {
//   position: fixed;
//   top: 50px;
//   width: 100%;
//   z-index: 100;
// }

.list-group-item {
  position: relative;
  cursor:pointer;
}

.decision-branch-buttons {
  position: absolute;
  right: 3px;
  top: 3px;
}

.balloon {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 12px;
  position: relative;
}

/* balloon-1 left */
.balloon-1-left {
	position: relative;
	display: inline-block;
	color: #19283C;
  border: 2px solid #19283C;
	background: #F6F6F6;
	z-index: 0;
}
.balloon-1-left:before {
	content: "";
	position: absolute;
	top: 50%; left: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 8px 9px 0;
	border-color: transparent #F6F6F6 transparent transparent;
	z-index: 0;
}
.balloon-1-left:after {
	content: "";
	position: absolute;
	top: 50%; left: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 11px 10px 0;
	border-color: transparent #19283C transparent transparent;
	z-index: -1;
}

/* balloon-1 right */
.balloon-1-right {
	position: relative;
	display: inline-block;
	min-width: 115px;
	// height: 40px;
	// line-height: 22px;
	color: #19283C;
	background: #F6F6F6;
	border: 2px solid #19283C;
	z-index: 0;
}
.balloon-1-right:before {
	content: "";
	position: absolute;
	top: 50%; right: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 0 9px 8px;
	border-color: transparent transparent transparent #F6F6F6;
	z-index: 0;
}
.balloon-1-right:after {
	content: "";
	position: absolute;
	top: 50%; right: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 1px 10px 10px;
	border-color: transparent transparent transparent #19283C;
	z-index: -1;
}
.after-header {
   height:51px;
}
.img-tiny {
  height: 20px;
}
.message-body {
  display: inline;
}
.btn-message-remove {
  position: absolute;
  right: -10px;
  top: -9px;
}
.list-group {
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover { text-decoration: none;}
}
#sidebar-wrapper {
    position: fixed;
    height: 100%;
    padding: 0;
    overflow-y: auto;
    background: #F4F4F4;

    .bot-profile {
      padding: 20px 0;
    }
    // スマートフォンのみ
    @media (max-width: 767px) {
      position: inherit;
    }
}
.chat-area {
  padding-bottom: 150px;
}
.bot-box {
  border: solid 1px;
}
