.card-body {
  word-break: break-all;
}

.card {
  &.clickable {
    cursor: pointer;
    &:hover {
      border-color: #007bff;
      background-color: #fff;
    }
  }

  &.unclickable {
    opacity: 0.5;
    border: 0;
    .card-body {
      padding-left: 0 !important;
    }
  }

  &.selected {
    position: relative;
    border-color: #28a745;
    &::after {
      content: "✓";
      position: absolute;
      width: 20px;
      height: 20px;
      top: -10px;
      left: -10px;
      background-color: #28a745;
      border-radius: 10px;
      color: #fff;
      text-align: center;
      line-height: 20px;
    }
    &:hover {
      border-color: #aaa;
      &::after {
        background-color: #aaa;
      }
    }
  }

  $-card-cap-width: 32px;
  &.card-left-capped {
    padding-left: $-card-cap-width;
  }
  .card-left-cap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $-card-cap-width;
    border-right: 1px solid rgba(0, 0, 0, 0.125);

    &__checkbox {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    input[type=checkbox] {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

