.material-icons {
  vertical-align: middle;

  &.mi-sm {
    font-size: 20px;
  }

  &.mi-xs {
    font-size: 16px;
  }

  &.mi-lg {
    font-size: 50px;
  }

  &.mi-v-sub {
    vertical-align: sub;
  }
}

.page-link {
  .material-icons {
    line-height: 0.5;
  }
}
