.tree {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;

  .tree {
    display: none;
    width: 100%;
  }

  &__node {
    // z-index: 2;
    padding-left: 24px;
  }

  %base-tree__item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 100%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: {
        position: center center;
        repeat: no-repeat;
        size: 16px 16px;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    > * {
      position: relative;
      // z-index: 1;
    }

    &.active {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -99999px;
        right: -99999px;
        // z-index: 0;
        background-color: #d8e2e6;
      }
    }
  }

  &__item {
    @extend %base-tree__item;

    &::after {
      background-image: image-url('ic_keyboard_arrow_right_black_24px.svg');
    }

    &--opened {
      @extend %base-tree__item;

      &::after {
        background-image: image-url('ic_keyboard_arrow_down_black_24px.svg');
      }
    }

    &--no-children {
      @extend %base-tree__item;

      &::after {
        display: none;
      }
    }

    &-body {
      display: block;
      line-height: 24px;
      color: $base-text-color;

      .material-icons {
        margin-right: 5px;
        font-size: 18px;
        vertical-align: middle;
        color: #aaa;

        &.upside-down {
          transform: rotate(180deg);
        }
      }
    }

    &-sub-body {
      padding-left: 26px;
      color: $base-text-color;
    }

    &-add {
      line-height: 24px;
    }
  }
}
