- data = @question_answer.persisted? ? { event_name: 'Update question answer', question_answer_id: @question_answer.id, bot_id: @bot.id, bot_name: @bot.name } : {}

span(
  data-component="QuestionAnswerForm"
  data-bot-id=@bot.id
  data-id=@question_answer.id
  data-topic-tags=@bot.topic_tags.pluck(:id, :name)
  data-question-body=@question_answer.question
)
