<div class="row">
  <div class="col-sm-2 col-xs-3 text-center col-icon">
    <span class="small">どんうさぎ</span><br />
    <%= image_tag 'usao001.png', class: 'listen' %>
  </div>
  <div class="col-sm-8 col-xs-9 balloon-1-left balloon">
    <%= auto_link(simple_format(help_answer.body), html: { target: '_blank' }) %>
  </div>
  <div class="col-sm-2"></div>
</div>
