h1 システム共通同義語 新規作成

= render 'word_mappings/form', { resource: [:admin, @word_mapping] }

br
= link_to '戻る', admin_word_mappings_path, class: 'btn btn-default', data: { event_name: 'Back to word mapping index', word_mapping_id: @word_mapping.id }
