<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'My-ope', admin_user_signed_in? ? dashboards_path : '#', class: "navbar-brand" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!--
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        -->
        </ul>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Bot管理", bots_path %></li>
            <li><%#= link_to "管理者画面", rails_admin_path %></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">マスタ&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%#= link_to '回答', rails_admin.index_path(model_name: :answer) %></li>
                <li><%#= link_to '文脈', rails_admin.index_path(model_name: :context) %></li>
              </ul>
            </li>-->
            <li><%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete %></li>
          </ul>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
<div class="after-header"></div>
