<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <h4 class="text-center"><%= bot.name %></h4>
      </div>
    </div>
  </nav>
</header>
<div class="after-header"></div>
